.cotenedor {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
  }

  .loaders {
    display: fixed;
  }

  main {
    flex: 1 0 auto;
  }

  .materialize-textarea {
    height: 8rem;
  
  }

  .footer-copyright { 
    position: fixed;
    bottom: 0px;
    height:100px;
    width: 100%;
  }